.header {
    font-size: 1.5rem;
    font-weight: bold;
}
.subheader {
    vertical-align: middle;
    font-size: 1rem;
    color: rgba(0,0,0,.54);
    font-weight: 400;
}
.subheader svg {
    font-size: 1.2rem;
}
.blockquote {
    padding:4px 4px 4px 16px;
    margin: 32px 10px 32px 30px;
    text-align: left;
    border-left: 5px solid #7ad6bb;
    color: rgba(0,0,0,.54);
}
