.root {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    font-size: 1.25rem;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
}

.img {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
}
