.image {
    object-fit: cover;
    height: 200px;
}
.item {
    margin-bottom: 1rem;
}
.title {
    color: white;
}
.overlay {
    opacity: 0;
}
.overlay:hover {
    opacity: 1;
    background-color: rgba(0,0,0,.5);
}
