.image {
    max-height: 200px;
    object-fit: cover;
    width: 100%;
}
.navbar {
    background-color: #7ad6bb;
    border: 1px solid white;
}
.avatar {
    width: 120px;
    height: 120px;
    position: absolute;
    border: 5px solid rgba(255,255,255, .5);
    top: -50px;
}
.icon {
    width: 30px;
    height: 30px;
    color: white;
}
.active {
    border: 2px solid white;
    border-radius: 50%;
    padding: .25rem!important;
}
